/* Add the new styles here */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  height: 13px;

}

.title-box {
  display: flex;
  align-items: center;
}

.navbar-title {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold; /* Make it bold */
  margin-right: 20px; /* Add some spacing between the title and links */
}

.navbar-links ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

.navbar-links li {
  font-size: 1.2rem;
}

.navbar-links a {
  text-decoration: none;
  color: #ffffff;
}

.searchBox{
  padding-top: 30px;
}
.searchbutton{
  background-color: black;
  color: white;
  border-radius: 3px;
}
/* Style the search button */


/* Existing styles below */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
